@model CompanyModel

<form action="AddingDataToCompany">
   
    <label for="fname">Company_name:</label><br>
    <input type="text" asp-for="comapny_name"><br>

    
    <label for="gender">company_founded_on:</label><br>
    <input type="text" asp-for="company_founded_on"><br>
    <input type="submit" value="Submit">
</form>