@model EmployeeModel

<form action="AddingData">
    <label for="fname">empNo:</label><br>
    <input type="text" asp-for="empno"><br>
    <label for="fname">First name:</label><br>
    <input type="text" asp-for="firts_name"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" asp-for="last_name"><br>
    <label for="gender">Gender:</label><br>
    <input type="text" asp-for="gender"><br>
    <label for="birthdate">birthDate:</label><br>
    <input type="text" asp-for=" birthdate"><br>
    <label for="hiredate">HireDate:</label><br>
    <input type="text" asp-for="hire_date"><br>
    <input type="submit" value="Submit">
</form>